body {
  background: #D3CCE3;  /* fallback for old browsers */ 
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.search-container{
    align-items: center;
    justify-content: center;
    display: flex;
}
.search-input{
    width: calc(45% - 2em);
    border: 1px solid gray;
    border-radius: 5pc
}
.img-logo{
  display: flex;
  margin:auto;

}